@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.head {
  width: 100%;
  background-color: rgb(228, 241, 241);
}
.txtw {
  font-family: "Comfortaa", cursive;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.footercontenttxt {
  font-family: "Comfortaa", cursive;
  color: grey;
  text-align: left;
  font-size: 18px;
}

.footercontenttxt:hover{
  font-family: "Comfortaa", cursive;
  color: darkslategray;
  text-align: left;
  font-size: 18px;
}

.txt {
  font-family: "Comfortaa", cursive;
  color: grey;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.txt:hover {
  font-family: "Comfortaa", cursive;
  color: darkslategray;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.footertxt {
  font-family: "Comfortaa", cursive;
  color: #015050;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.footertxt:hover {
  font-family: "Comfortaa", cursive;
  color: darkslategray;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.footerconnect {
  font-family: "Comfortaa", cursive;
  color: #878888;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  display: table;
  margin-left: 120px;
  margin-bottom: 20px;
  margin-right: auto;
}

.heading {
  text-align: left;
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  color: #015050;
}

.aboutusheading {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 100px;
  color: #015050;
}

.featureheading {
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 60px;
  font-weight: bold;
  color: #015050;
}


.para {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  color: #000000;
}

.heading1 {
  font-family: "Comfortaa", cursive;
  font-size: 35px;
  font-weight: 600;

  color: #015050;
}

.headingname {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  font-weight: 600;

  color: #006260;
}

.postname {
  font-family: "Comfortaa", cursive;
  font-size: 20px;
  font-weight: 300;
  color: #006260;
}

.table {
  align-items: center;
}

.quote {
  font-family: "Comfortaa", cursive;
  font-size: 15px;
  font-weight: 100;
  color: #000000;
}

.cardstyle {
  position: relative;
}

.iconplacement {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.cardbg{
  background-color: #45ddff;
}

.font-comfortaa {
  font-family: "Comfortaa", cursive;
}

.logo-l-cropped {
  transform: translateX(-46px);
}
